.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 10rem;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #110E1B;
      border-radius: 20px;
      margin: 0 1rem 1rem 1rem;
      padding: 3rem;
      span{
        margin-top: 1rem;
        font-size: 2rem;
        color: var(--white);
      }
      p{
        font-size: 1.25rem;
        max-width: 400px;
        color: var(--white);
      }
      img{
        width: 30vw;
        height: 40vh;
      }
      transition: transform 500ms ease-in-out;
      &:hover{
        border: 1px solid #332a68;
        transform: scale(1.1)
      }
    }
  }
  @media (max-width: 900px){
      
    h2{
      font-size: 1.5rem;
      color: var(--white);
      margin-bottom: 5rem;
    }
  
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
  
      .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #110E1B;
        border-radius: 15px;
        margin: 0 0.7rem 0.7rem 0.7rem;
        padding: 2rem;
        span{
          margin-top: 0.7rem;
          font-size: 1.5rem;
          color: var(--white);
        }
        p{
          font-size: 1.25rem;
          max-width: 400px;
          color: var(--white);
        }
        img{
          width: 30vw;
          height: 40vh;
        }
        transition: transform 500ms ease-in-out;
        &:hover{
          border: 1px solid #332a68;
          transform: scale(1.1)
        }
      }
  }
}

@media (max-width: 650px){
      
  h2{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 5rem;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #110E1B;
      border-radius: 10px;
      margin: 2rem;
      padding: 1.5rem;
      span{
        margin-top: 0.7rem;
        font-size: 1.5rem;
        color: var(--white);
      }
      p{
        font-size: 1.25rem;
        max-width: 400px;
        color: var(--white);
      }
      img{
        width: 50vw;
        height: 20vh;
      }
      transition: transform 500ms ease-in-out;
      &:hover{
        border: 1px solid #332a68;
        transform: scale(1.1)
      }
    }
}
}


}