.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    width: 50%;
    display: flex;
    margin-top: 5rem;
    padding: 5rem;
    border-radius: 5%;
    background-color: #110e1b;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 10px 5px 5px black;
    &:hover {
      box-shadow: none;
    }
    .grid {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    @media (min-width: 1600px) {
      .grid {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
      }
    }

    input {
      width: 15rem;
      background-color: #0e091b;
      color: white;
      border: 1px inset white;
      margin-left: 1rem;
      box-shadow: 10px 5px 5px black;

      &:focus {
        transform: scale(1.1);
      }
    }
    label {
      color: white;
    }
    textarea {
      background-color: #0e091b;
      color: white;
      box-shadow: 10px 5px 5px black;
    }

    @media (max-width: 700px) {
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
  }

  h2 {
    font-size: 2.5rem;
    color: var(--white);
    margin-top: 10rem;
  }
}
